@model WebBanSach.Models.DonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa đơn hàng này?</h3>
<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangGiaoHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoTen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
