
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<WebBanSach.Models.Sach>
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Layout/LayoutHome.cshtml";
}


<div class="carousel">
    <div class="c_header">

        <h2>Kết quả tìm kiếm: @ViewBag.ThongBao</h2>

    </div><!-- .c_header -->

    <div class="list_carousel">

        <div class="caroufredsel_wrapper">
            <ul id="list_product" class="list_product">



                @foreach (var item in Model)
                {
                    <li class="item-product">
                        <div class="product">
                            <img class="sale" src="../HinhAnh/top.png" alt="Sale">
                            <div class="prev">
                                <a href="@Url.Action("XemChiTiet","Sach", new { @masach=item.MaSach })"><img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" alt="" title=""></a>
                            </div><!-- .prev -->
                            <h3 class="title">
                                @if (item.TenSach.Length < 35)
                                {
                                    <span>@item.TenSach</span>
                                }
                                else
                                {
                                    <span>@item.TenSach.Substring(0, 35) ...</span>
                                }

                            </h3>
                            <div class="cart">
                                <div class="price">
                                    <div class="vert">
                                        <div class="price_new">@item.GiaBan VNĐ</div>
                                    </div>
                                </div>
                                <button class="btn btn-info" style="width:63%;">Đặt Hàng</button>

                            </div><!-- .cart -->
                        </div><!-- .grid_3 -->
                    </li>
                }

            </ul>
        </div><!-- #list_product -->
    </div><!-- .list_carousel -->
</div>

<!----/Main-Product----->
